@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#product-overview {
    background-color: red;
}

.section-title {
    color: blueviolet
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

h1 {
    font-family: sans-serif;
}
