#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") center / cover no-repeat border-box, #ff1b68;
    width: 100%;
    height: 33vh;
    padding: 0.6rem;
    margin-top: 40px;
    position: relative;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 3%;
    left: 4%;
    font-size: 1.6rem;
}

@media (min-width: 40rem) {
    #product-overview {
        height: 40vh;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0, 5rem 0;
}

@media (min-width: 40rem) {
    .plan {
        display: inline-block;
        width: 30%;
        vertical-align: center;
        margin: 0.5rem;
        min-width: 210px;
        max-width: 400px;
    }

    .plan__list {
        text-align: center;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
}

#key-features {
    background-color: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features>.section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}
