.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

main {
    padding-top: 2rem;
}

.package {
    margin: 1rem 0;
    width: 80%;
    border: 4px solid #0e4f1f;
    border-left: none;
    position: relative;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.package > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.25rem;
    font-size: 0.75rem;
    color: white;
    background-color: #ff5454;
    padding: 0.5rem;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #0e4f1f;
    background: white;
}

.clearfix {
    clear: right;
}

#plus {
    background: rgba(213, 255, 213, 0.9);
}

#free {
    background: rgba(234, 252, 237, 0.955);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
}

#free:hover,
#free:active {
    border-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

@media (min-width: 40rem) {
    main {
        margin: 3rem auto;
        max-width: 1500px;
    }
}

@media (min-width: 1500px) {
    .package, #free {
        border-left: 4px solid #0e4f1f;
        
    }

    #free {
        border-right: 4px solid #0e4f1f;
    }
}
